@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
body{
    margin: 0;
    font-family: Georgia,serif;
    font-family: Comic Neue;
    font-size: 200%;
}

.content{
    margin: 8px;
}

.map {
    width: 50%;
    padding: 30%;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.answer_formular{
    width: 35%;
    float: right;
}

.Überschrift{
    color: black;
}

.Unterschrift{
    color: gray;
    font-size: 80%;
}

iframe{
    display: block;
    margin: auto;
    float: center;
}

.News{
    text-align: justify;
    width: 95%;
    margin: auto;
    float: center;
    font-size: larger;
}

.News_assets {
    float: right;
    margin: auto;
}

.bar{
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active{
    background-color: #e2007a;
}

.active:hover{
    background-color: #A4004A;
}

.logo{
    margin: 0;
    object-fit: contain;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

figure{
    margin: 5px;
}

.titlepicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center;
    width: 100%;
}