.map {
    width: 30%;
    padding: 30%;
    box-sizing: border-box;
    position: relative;
}
/*
.content{
    align-items: center;
    width: fit-content;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active{
    background-color: #e2007a;
}

.active:hover{
    background-color: #A4004A;
}

.iframe{
    max-width: fit-content;
}